<LocalData>
    <br />
    <br />
    <hr />
    <p c="local-data"></p>

    <script>
        (function () {
            const instance = setInterval(() => {
                try {
                    /** @type {HTMLDivElement} */
                    const component = Component("local-data");
                    const data = localStorage.getItem("data");

                    if (component.value === data) return;

                    component.value = data;
                    component.innerText = data;
                } catch {
                    clearInterval(instance);
                }
            });
        })();
    </script>

    <style>
        [c="local-data"] {
            > p {
                word-wrap: break-word;
                word-break: break-all;
            }
        }
    </style>
</LocalData>
